@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using UmbracoProject;


@{
    var items = await DummyApi.GetCategories();
    var counter=1;
}
<div>
    @if (items == null)
    {
        <div>No Content</div>
    }
    else
    {
         <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                 @foreach (var item in items)
                    {
                <tbody>
                   
                     <th scope="row">@(counter++)</th>
                     <td>@item</td>
                </tbody>
                    }
            </table>
        </div>
    }
</div>